# Core
streamlit>=1.25
pandas>=2.0
numpy>=1.24.0

# Plotting
altair>=5.0.0

# Daten & Verarbeitung
polars>=0.20
#sqlite3  # in Python enthalten, keine Installation nötig
openpyxl>=3.1.0  # für Excel (.xlsx)

# PDF-Export
fpdf>=1.7.2
PyPDF2>=3.0

# Verschlüsselung
cryptography>=42.0.0

# Wetterdaten
wetterdienst>=0.107.0

# Geodaten
geopy>=2.3.0

# JSON mit Kommentaren
json5>=0.9.14

# Interpolation
scipy>=1.10.0
matplotlib>=3.7

# Optional: für HTML-Komponenten
streamlit-components>=0.1.0
